build/
*.o
*.out
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

Pipeline.md
build_meson/
.cache/
compile_commands.json
.clangd/

ForcedOptimisation.md

# User-specific settings
editor_settings.json
imgui.ini
